# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
*.env

# Virtual environment
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Render deploy build artifacts (if any)
build/
.vscode/